<div class="inmodal">
    <div class="modal-header" style="padding:14px"></div>
    <div class="modal-body">
        <div class="col-md-12" ng-include src="'components/alert/alert.html'"></div>

        <div class="row main-dialog-content" ng-show="!formSearch.isLoading && formSearch.isLoaded ">

            <div class="col-md-12 main-dialog-head">
                <div class="col-md-2">
                    <div><span class="main-dialog-title">线路：</span>
                        <h3 style="
                        padding: 0;
                        margin: 0 0 4px 0;
                        float: right;
                        font-size: 14px;
                        font-weight: 300;
                        ">{{line}}</h3>
                    </div>

                </div>
                <div class="col-md-2" style="width: 130px;">
                    <div><span class="main-dialog-title">状态：</span>
                        <h3 style="
                            padding: 0;
                            margin: 0 0 4px 0;
                            float: right;
                            font-size: 14px;
                            font-weight: 300;
                         ">{{form.trainState_str}}</h3>
                    </div>
                </div>
                <div class="col-md-5" style="float: right">
                    <div><span class="main-dialog-title" style="float:left">时间：</span>
                        <h3 style="
                            padding: 0;
                            margin: 0 0 4px 0;
                            float: right;
                            font-size: 14px;
                            font-weight: 300;
                            float: left
                         ">{{form.trainDate}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="main-dialog-box">
                    <div class="col-md-3 md-item-text main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">列车号：</p>
                        <h3 class="main-dialog-title-value">{{form.trainId}}</h3>
                    </div>


                    <div class="col-md-3 md-item-text md-whiteframe-z1 main-dialog-children" flex>
                        <p class="main-dialog-title">站点：</p>
                        <h3 class="main-dialog-title-value">{{station}}</h3>
                    </div>


                    <div class="col-md-3 md-item-text main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">安装点：</p>
                        <h3 class="main-dialog-title-value">{{form.trainDirection}}</h3>
                    </div>

                    <div class="col-md-3 md-item-text main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">Q/R值：</p>
                        <h3 class="main-dialog-title-value">
                            {{form.qrValue}}</h3>
                    </div>

                </div>
            </div>
            <div class="col-md-12 main-dialog-father-margin">
                <div class="main-dialog-box">
                    <div class="col-md-3 main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">轮缘厚：</p>
                        <h3 class="main-dialog-title-value" style="padding-left: 30px;" ng-class="{ redState : form.lunhouState == 2,
                                                                                  orangeState: form.lunhouState == 1}">
                            {{form.lunhou}}</h3>
                    </div>
                    <div class="col-md-3 md-item-text main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">轮缘高：</p>
                        <h3 class="main-dialog-title-value" ng-class="{ redState : form.lungaoState == 2,
                                                                      orangeState: form.lungaoState == 1}">
                            {{form.lungao}}</h3>
                    </div>

                    <div class="col-md-3 md-item-text main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">轮径：</p>
                        <h3 class="main-dialog-title-value" style="padding-left: 30px;" ng-class="{ redState : form.lunjingState == 2,
                                                                                  orangeState: form.lunjingState == 1}">
                            {{form.lunjing}}</h3>
                    </div>
                    <div class="col-md-3 md-item-text main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">车差：</p>
                        <h3 class="main-dialog-title-value" ng-class="{ redState : form.chechaState == 2,
                                                                      orangeState: form.chechaState == 1}">
                            {{form.checha}}</h3>
                    </div>
                </div>

            </div>

            <div class="col-md-12 main-dialog-father-margin">
                <div class="main-dialog-box">
                    <div class="col-md-6 md-item-text main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">轴差：</p>
                        <h3 class="main-dialog-title-value" style="padding-left: 60px;" ng-class="{ redState : form.zhouchaState == 2,
                                                                                                  orangeState: form.zhouchaState == 1}">
                            {{form.zhoucha}}</h3>
                    </div>
                    <div class="col-md-6 md-item-text main-dialog-children md-whiteframe-z1" flex>
                        <p class="main-dialog-title">架差：</p>
                        <h3 class="main-dialog-title-value" style="padding-left: 60px;" ng-class="{ redState : form.jiachaState == 2,
                                                                                  orangeState: form.jiachaState == 1}">
                            {{form.jiacha}} </h3>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <md-button class="md-raised" ng-click="cancel()" ng-disabled="formSearch.isLoading">
            关闭
        </md-button>
        <md-button class="md-raised md-primary" ng-click="confirm()" ng-disabled="!formSearch.isLoaded">
            详细报表
        </md-button>
    </div>
    <div style="text-align:center;position:absolute;top:40px;left:0;width:100%;height:100%;zIndex:1;"
         ng-show="formSearch.isLoading">
        <img src="assets/images/loading.gif"/>
    </div>
</div>
      