<div class="row wrapper border-bottom bg-gray-lighter page-heading">
    <div class="col-lg-10">
        <h2 class="second-header">行车报表查询</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="real-content wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title main-dialog-box" style="padding-top: 30px;border-radius: 13px;">
                    <div class="row">
                        <form role="form" name="myForm">
                            <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
                            <div class="form-group col-md-4">
                                <div layout="row" ng-cloak class="md-inline-form">
                                    <mdp-date-picker required="" mdp-placeholder="起始时间"
                                                     ng-disabled="formSearch.isLoading"
                                                     ng-model="formSearch.startTime"></mdp-date-picker>
                                    <mdp-time-picker required="" mdp-auto-switch="true"
                                                     ng-disabled="formSearch.isLoading"
                                                     ng-model="formSearch.startTime"></mdp-time-picker>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div layout="row" ng-cloak class="md-inline-form">
                                    <mdp-date-picker required="" mdp-placeholder="终止时间"
                                                     ng-disabled="formSearch.isLoading"
                                                     ng-model="formSearch.endTime"></mdp-date-picker>
                                    <mdp-time-picker required="" mdp-auto-switch="true"
                                                     ng-disabled="formSearch.isLoading"
                                                     ng-model="formSearch.endTime"></mdp-time-picker>
                                </div>
                            </div>
                            <div class="col-md-3" style="float: right;">
                                <md-button class="md-raised" ng-click="search()" ng-disabled="formSearch.isLoading"
                                           style="margin-left: 10px;min-width: 70px;height: 20px;margin-top: 2px;">搜索
                                </md-button>
                                <md-button class="md-raised" ng-click="exportData()"
                                           ng-disabled="formSearch.isLoading || !formSearch.isLoaded"
                                           style="margin-left: 10px;min-width: 70px;height: 20px;margin-top: 2px;">报表
                                </md-button>
                            </div>
                            <div class="form-group col-md-12" style="margin-left: 10px">
                                <div class="col-md-6">

                                    <div layout="row" ng-cloak class="md-inline-form">

                                        <md-input-container class="md-block" style="width: 60px;">
                                            <label>线路</label>
                                            <input ng-model="line" disabled>
                                        </md-input-container>

                                        <div style="width: 125px;">
                                            <md-autocomplete  flex="" required="" ng-model="formSearch.trainId"
                                                             md-input-name="autocompleteTrainId" md-min-length="0"
                                                             md-selected-item="selectedTrainId"
                                                             md-selected-item-change="selectedTrainIdChange(trainId)"
                                                             md-search-text="inputTrainId"
                                                             md-search-text-change="searchInputChange(inputTrainId)"
                                                             md-items="trainId in querySearch(inputTrainId)"
                                                             md-item-text="trainId" md-floating-label="列车号"
                                                             md-require-match>
                                                <md-item-template>
                                                    <span md-highlight-text="inputTrainId">{{trainId}}</span>
                                                </md-item-template>
                                                <div ng-messages="myForm.autocompleteTrainId.$error" ng-if="myForm.autocompleteTrainId.$touched">
                                                    <div ng-message="required">此项<b>必需</b>填写</div>
                                                    <div ng-message="md-require-match">该车号不存在，请重新填写</div>
                                                </div>
                                            </md-autocomplete>
                                        </div>

                                        <md-input-container  id="carriage" style="min-width: 125px;">
                                            <label>车厢号</label>
                                            <md-select required="" ng-disabled="formSearch.isLoading"
                                                       name="carriage"
                                                       ng-model="formSearch.carriageNum">
                                                <md-option ng-repeat="carriageNum in carriageNums" ng-value="carriageNum.value">
                                                    {{carriageNum.name}}
                                                </md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="myForm.carriage.$error">
                                                <div ng-message="required">车厢号不能为空</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container style="min-width: 125px;">
                                            <label>车轮号</label>
                                            <md-select required="" ng-disabled="formSearch.isLoading || formSearch.wheelDisabled"
                                                       name="wheel"
                                                       ng-model="formSearch.wheelNum">
                                                <md-option ng-repeat="wheelNum in wheelNums" ng-value="wheelNum.value">
                                                    {{wheelNum.name}}
                                                </md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="myForm.wheel.$error">
                                                <div ng-message="required">车轮号不能为空</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container style="min-width: 125px;">
                                            <label>电机号</label>
                                            <md-select required="" ng-disabled="formSearch.isLoading || formSearch.motorDisabled"
                                                       name="motor"
                                                       ng-model="formSearch.motorNum">
                                                <md-option ng-repeat="motorNum in motorNums" ng-value="motorNum.value">
                                                    {{motorNum.name}}
                                                </md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="myForm.motor.$error">
                                                <div ng-message="required">电机号不能为空</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="col-md-3" style="margin-top: 6px;" ng-cloak>
                                    <md-radio-group layout="row" ng-model="formSearch.selectType">
                                        <md-radio-button ng-repeat="type in selectType"
                                                         ng-click=selectRadioButton(type.value)
                                                         ng-value="type.value" class="md-primary">{{ type.name }}
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="ibox-content main-dialog-box"
                     style="margin-top: 20px;border-radius: 16px;background: rgb(255,255,255);padding: 0px 0px 0px 0px;">
                    <div class="text-center" ng-show="formSearch.isLoading">
                        <img src="assets/images/loading.gif"/>
                    </div>
                    <div class="table-responsive" ng-show="formSearch.isLoaded && !formSearch.isLoading && formSearch.selectType == 1">
                        <table class="footable-report-search footable table table-stripped toggle-arrow-tiny">
                            <thead>
                            <tr>
                                <th>车号</th>
                                <th>车厢号</th>
                                <th>车轮号</th>
                                <th>均方根</th>
                                <th>峰值</th>
                                <th>峰值因子</th>
                                <th>峭度</th>
                                <th>峭度因子</th>

                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="animate-repeat" ng-repeat="reportRecord in reportRecords">
                                <td>{{formSearch.trainId}}</td>
                                <td>{{reportRecord.carriageNum}}</td>
                                <td>{{reportRecord.wheelNum}}</td>
                                <td>{{reportRecord.jfgValue}}</td>
                                <td>{{reportRecord.fzValue}}</td>
                                <td>{{reportRecord.fzyzValue}}</td>
                                <td>{{reportRecord.qdValue}}</td>
                                <td>{{reportRecord.qdyzValue}}</td>

                                <td>{{reportRecord.trainDate}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>
                                    <select class="pull-left custom-pagesize form-control" ng-change="onChange()"
                                            ng-model='pagination.pageSize'
                                            ng-options='pageSize.value as pageSize.name for pageSize in pageSizes'></select>
                                </td>
                                <td colspan="13">
                                    <ul class="custom-pagination pull-right">
                                        <li ng-class="{ disabled : pagination.current == 1 }">
                                            <a href="" ng-click="setCurrent(1)">&laquo;</a>
                                        </li>
                                        <li ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
                                            <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
                                        </li>
                                        <li ng-repeat="pageNumber in pages track by $index"
                                            ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
                                            <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
                                        </li>

                                        <li ng-class="{ disabled : pagination.current == pagination.totalPages }"
                                            class="ng-scope">
                                            <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
                                        </li>
                                        <li ng-class="{ disabled : pagination.current == pagination.totalPages }">
                                            <a href="" ng-click="setCurrent(pagination.totalPages)">&raquo;</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="table-responsive" ng-show="formSearch.isLoaded && !formSearch.isLoading && formSearch.selectType == 2">
                        <table class="footable-report-search footable table table-stripped toggle-arrow-tiny">
                            <thead>
                            <tr>
                                <th>车号</th>
                                <th>车厢号</th>
                                <th>车轮号</th>

                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="animate-repeat" ng-repeat="reportRecord in reportRecords">
                                <td>{{formSearch.trainId}}</td>
                                <td>{{reportRecord.carriageNum}}</td>
                                <td>{{reportRecord.wheelNum}}</td>

                                <td>{{reportRecord.trainDate}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>
                                    <select class="pull-left custom-pagesize form-control" ng-change="onChange()"
                                            ng-model='pagination.pageSize'
                                            ng-options='pageSize.value as pageSize.name for pageSize in pageSizes'></select>
                                </td>
                                <td colspan="13">
                                    <ul class="custom-pagination pull-right">
                                        <li ng-class="{ disabled : pagination.current == 1 }">
                                            <a href="" ng-click="setCurrent(1)">&laquo;</a>
                                        </li>
                                        <li ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
                                            <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
                                        </li>
                                        <li ng-repeat="pageNumber in pages track by $index"
                                            ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
                                            <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
                                        </li>

                                        <li ng-class="{ disabled : pagination.current == pagination.totalPages }"
                                            class="ng-scope">
                                            <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
                                        </li>
                                        <li ng-class="{ disabled : pagination.current == pagination.totalPages }">
                                            <a href="" ng-click="setCurrent(pagination.totalPages)">&raquo;</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="table-responsive" ng-show="formSearch.isLoaded && !formSearch.isLoading && formSearch.selectType == 3">
                        <table class="footable-report-search footable table table-stripped toggle-arrow-tiny">
                            <thead>
                            <tr>
                                <th>车号</th>
                                <th>车厢号</th>
                                <th>电机号</th>

                                <th>电机温度</th>

                                <th>时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="animate-repeat" ng-repeat="reportRecord in reportRecords">
                                <td>{{formSearch.trainId}}</td>
                                <td>{{reportRecord.carriageNum}}</td>
                                <td>{{reportRecord.motorNum}}</td>
                                <td>{{reportRecord.motorTemp}}</td>

                                <td>{{reportRecord.trainDate}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>
                                    <select class="pull-left custom-pagesize form-control" ng-change="onChange()"
                                            ng-model='pagination.pageSize'
                                            ng-options='pageSize.value as pageSize.name for pageSize in pageSizes'></select>
                                </td>
                                <td colspan="13">
                                    <ul class="custom-pagination pull-right">
                                        <li ng-class="{ disabled : pagination.current == 1 }">
                                            <a href="" ng-click="setCurrent(1)">&laquo;</a>
                                        </li>
                                        <li ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
                                            <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
                                        </li>
                                        <li ng-repeat="pageNumber in pages track by $index"
                                            ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
                                            <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
                                        </li>

                                        <li ng-class="{ disabled : pagination.current == pagination.totalPages }"
                                            class="ng-scope">
                                            <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
                                        </li>
                                        <li ng-class="{ disabled : pagination.current == pagination.totalPages }">
                                            <a href="" ng-click="setCurrent(pagination.totalPages)">&raquo;</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
