<div class="row wrapper border-bottom bg-gray-lighter page-heading">
    <div class="col-lg-10">
        <h2 class="second-header">报警报表查询</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="real-content wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title main-dialog-box" style="padding-top: 30px;border-radius: 13px;">
                    <div class="row">
                        <form role="form" name="myForm">
                            <div class="col-md-10 col-md-offset-1" ng-include src="'components/alert/alert.html'"></div>
                            <div class="form-group col-md-4">
                                <div layout="row" ng-cloak class="md-inline-form">
                                    <mdp-date-picker required="" mdp-placeholder="起始时间"
                                                     ng-disabled="formSearch.isLoading"
                                                     ng-model="formSearch.startTime"></mdp-date-picker>
                                    <mdp-time-picker required="" mdp-auto-switch="true"
                                                     ng-disabled="formSearch.isLoading"
                                                     ng-model="formSearch.startTime"></mdp-time-picker>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div layout="row" ng-cloak class="md-inline-form">
                                    <mdp-date-picker required="" mdp-placeholder="终止时间"
                                                     ng-disabled="formSearch.isLoading"
                                                     ng-model="formSearch.endTime"></mdp-date-picker>
                                    <mdp-time-picker required="" mdp-auto-switch="true"
                                                     ng-disabled="formSearch.isLoading"
                                                     ng-model="formSearch.endTime"></mdp-time-picker>
                                </div>
                            </div>
                            <div class="col-md-3" style="float: right;">
                                <md-button class="md-raised" ng-click="search()" ng-disabled="formSearch.isLoading"
                                           style="margin-left: 10px;min-width: 70px;height: 20px;margin-top: 2px;">搜索
                                </md-button>
                                <md-button class="md-raised" ng-click="exportData()"
                                           ng-disabled="formSearch.isLoading || !formSearch.isLoaded"
                                           style="margin-left: 10px;min-width: 70px;height: 20px;margin-top: 2px;">报表
                                </md-button>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">

                                    <div layout="row" ng-cloak class="md-inline-form">

                                        <md-input-container class="md-block" style="width: 60px;">
                                            <label>线路</label>
                                            <input ng-model="line" disabled>
                                        </md-input-container>

                                        <div style="width: 125px;padding-left: 4px;">
                                            <md-autocomplete  flex="" required="" ng-model="formSearch.trainId"
                                                              ng-disabled="formSearch.isLoading"
                                                             md-input-name="autocompleteTrainId" md-min-length="0"
                                                             md-selected-item="selectedTrainId"
                                                             md-selected-item-change="selectedTrainIdChange(trainId)"
                                                             md-search-text="inputTrainId"
                                                             md-search-text-change="searchInputChange(inputTrainId)"
                                                             md-items="trainId in querySearch(inputTrainId)"
                                                             md-item-text="trainId" md-floating-label="列车号" ng-click="OpenMenu()"
                                                md-require-match>
                                                <md-item-template>
                                                    <span md-highlight-text="inputTrainId">{{trainId}}</span>
                                                </md-item-template>
                                                <div ng-messages="myForm.autocompleteTrainId.$error" ng-if="myForm.autocompleteTrainId.$touched">
                                                    <div ng-message="required">此项<b>必需</b>填写</div>
                                                    <div ng-message="md-require-match">该车号不存在</div>
                                                </div>
                                            </md-autocomplete>
                                        </div>

                                        <md-input-container  id="carriage" style="min-width: 100px;padding-left: 4px;">
                                            <label>车厢号</label>
                                            <md-select required="" ng-disabled="formSearch.isLoading"
                                                       name="carriage"
                                                       ng-model="formSearch.carriageNum">
                                                <md-option ng-repeat="carriageNum in carriageNums" ng-value="carriageNum.value">
                                                    {{carriageNum.name}}
                                                </md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="myForm.carriage.$error">
                                                <div ng-message="required">车厢号不能为空</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container style="min-width: 100px;padding-left: 4px;">
                                            <label>车轮号</label>
                                            <md-select required="" ng-disabled="formSearch.isLoading || formSearch.wheelDisabled"
                                                       name="wheel"
                                                       ng-model="formSearch.wheelNum">
                                                <md-option ng-repeat="wheelNum in wheelNums" ng-value="wheelNum.value">
                                                    {{wheelNum.name}}
                                                </md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="myForm.wheel.$error">
                                                <div ng-message="required">车轮号不能为空</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div layout="row" ng-cloak>
                                        <div ng-repeat="item in items" style="padding-right: 30px;">
                                            <md-checkbox ng-checked="exists(item)" ng-click="toggle(item)">
                                                {{ item }} </span>
                                            </md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6" style="margin-top: 6px;" ng-cloak>
                                    <md-radio-group layout="row" ng-model="formSearch.selectType">
                                        <md-radio-button ng-repeat="type in selectTypeFirst"
                                                         ng-click=selectRadioButton(type.value)
                                                         ng-value="type.value" class="md-primary">{{ type.name }}
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div class="col-md-6" style="margin-top: 6px;" ng-cloak>
                                    <md-radio-group layout="row" ng-model="formSearch.selectType">
                                        <md-radio-button ng-repeat="type in selectTypeSecond"
                                                         ng-click=selectRadioButton(type.value)
                                                         ng-value="type.value" class="md-primary">{{ type.name }}
                                        </md-radio-button>
                                    </md-radio-group>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ibox-content main-dialog-box"
                     style="margin-top: 20px;border-radius: 16px;background: rgb(255,255,255);padding: 0px 0px 0px 0px;">
                    <div class="text-center" ng-show="formSearch.isLoading">
                        <img src="assets/images/loading.gif"/>
                    </div>
                    <div class="table-responsive" ng-if="formSearch.isLoaded && !formSearch.isLoading">
                        <table class="footable-report-search footable table table-stripped toggle-arrow-tiny">
                            <thead ng-show="formSearch.selectType < 4">
                                <tr>
                                    <th>车号</th>
                                    <th>车厢号</th>
                                    <th>车轮号</th>
                                    <th ng-show="formSearch.selectType == 0">轮径</th>
                                    <th ng-show="formSearch.selectType == 2">轮缘厚</th>
                                    <th ng-show="formSearch.selectType == 1">轮缘高</th>
                                    <th ng-show="formSearch.selectType == 3">Q/R值</th>
                                    <!--<th>状态</th>-->
                                    <th>时间</th>
                                </tr>
                            </thead>

                            <tbody ng-show="formSearch.selectType < 4">
                                <tr class="animate-repeat" ng-repeat="record in reportRecords">
                                    <td>{{record.trainId}}</td>
                                    <td>{{record.carriageNum}}</td>
                                    <td>{{record.wheelNum}}</td>
                                    <td ng-show="formSearch.selectType == 0"  ng-class="{ redState : record.lunjingState == 2,
                                                             orangeState : record.lunjingState ==1}">{{record.lunjing}}</td>
                                    <td ng-show="formSearch.selectType == 2" ng-class="{ redState : record.lunhouState == 2,
                                                             orangeState : record.lunhouState ==1}">{{record.lunhou}}</td>
                                    <td ng-show="formSearch.selectType == 1" ng-class="{ redState : record.lungaoState == 2,
                                                             orangeState : record.lungaoState ==1}">{{record.lungao}}</td>
                                    <td ng-show="formSearch.selectType == 3" ng-class="{ redState : record.qrValueState == 2,
                                                             orangeState : record.qrValueState ==1}">{{record.qrValue}}</td>
                                    <!--<td>{{record.trainState}}</td>-->
                                    <td>{{record.trainDate}}</td>
                                </tr>
                            </tbody>
                            <thead ng-show="formSearch.selectType >= 4">
                                <tr>
                                    <th data-sort-ignore="true">车号</th>
                                    <th data-sort-ignore="true" style="border-left: 1px solid #e7eaec;">车厢号</th>
                                    <th data-sort-ignore="true" style="border-left: 1px solid #e7eaec;">车轮号</th>
                                    <th data-sort-ignore="true" style="border-left: 1px solid #e7eaec;" ng-show="formSearch.selectType > 3">内侧距</th>
                                    <th data-sort-ignore="true" style="border-left: 1px solid #e7eaec;" ng-show="formSearch.selectType > 4">轴差</th>
                                    <th data-sort-ignore="true" style="border-left: 1px solid #e7eaec;" ng-show="formSearch.selectType > 5">架差</th>
                                    <th data-sort-ignore="true" style="border-left: 1px solid #e7eaec;" ng-show="formSearch.selectType > 6">车差</th>
                                    <!--<th>状态</th>-->
                                    <th data-sort-ignore="true">时间</th>
                                </tr>
                            </thead>

                            <tbody ng-show="formSearch.selectType >= 4" ng-repeat="records in reportRecords">
                                <tr class="animate-repeat" ng-repeat="record in records">
                                    <td style="border-left: 1px solid #e7eaec;">{{record.trainId}}</td>
                                    <td style="border-left: 1px solid #e7eaec;">{{record.carriageNum}}</td>
                                    <td style="border-left: 1px solid #e7eaec;">{{record.wheelNum}}</td>
                                    <td style="vertical-align: middle;
                                                      border-left: 1px solid #e7eaec;"
                                        ng-show="formSearch.selectType > 3 && $index % 2 == 0" rowspan="2">{{record.neicejuValue}}</td>
                                    <td style="vertical-align: middle;
                                                      border-left: 1px solid #e7eaec;"
                                        ng-show="formSearch.selectType > 4 && $index % 2 == 0" rowspan="2"
                                        ng-class="{ redState : record.zhouchaState == 2,
                                                 orangeState : record.zhouchaState ==1}">{{record.zhoucha}}</td>
                                    <td style="vertical-align: middle;
                                                      border-left: 1px solid #e7eaec;"
                                        ng-show="formSearch.selectType > 5 && $index % 4 == 0" rowspan="4"
                                        ng-class="{ redState : record.jiachaState == 2,
                                                 orangeState : record.jiachaState ==1}">{{record.jiacha}}</td>
                                    <td style="vertical-align: middle;
                                                      border-left: 1px solid #e7eaec;"
                                        ng-show="formSearch.selectType > 6 && $index % 8 == 0" rowspan="8"
                                        ng-class="{ redState : record.chechaState == 2,
                                                 orangeState : record.chechaState ==1}">{{record.checha}}</td>
                                    <!--<td>{{record.trainState}}</td>-->
                                    <td style="border-left: 1px solid #e7eaec;">{{record.trainDate}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>
                                    <select class="pull-left custom-pagesize form-control" ng-change="onChange()"
                                            ng-model='pagination.pageSize'
                                            ng-options='pageSize.value as pageSize.name for pageSize in pageSizes'></select>
                                </td>
                                <td colspan="13">
                                    <ul class="custom-pagination pull-right">
                                        <li ng-class="{ disabled : pagination.current == 1 }">
                                            <a href="" ng-click="setCurrent(1)">&laquo;</a>
                                        </li>
                                        <li ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
                                            <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
                                        </li>
                                        <li ng-repeat="pageNumber in pages track by $index"
                                            ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
                                            <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
                                        </li>

                                        <li ng-class="{ disabled : pagination.current == pagination.totalPages }"
                                            class="ng-scope">
                                            <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
                                        </li>
                                        <li ng-class="{ disabled : pagination.current == pagination.totalPages }">
                                            <a href="" ng-click="setCurrent(pagination.totalPages)">&raquo;</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
